 body,html{margin: 0;padding: 0;}

.navbar {
  background-color: rgba(0,0,0,0.00);
	z-index: 1000;
}
.navbar .navbar-brand {
  color: #f3f8f9;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #f3f8f9;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
  color: #f3f8f9;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #a27900;
}
.navbar .navbar-toggle {
  border-color: #a27900;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #a27900;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f3f8f9;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f3f8f9;
}
.navbar .navbar-link {
  color: #f3f8f9;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f3f8f9;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #a27900;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f3f8f9;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #a27900;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f3f8f9;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #a27900;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f3f8f9;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #a27900;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f3f8f9;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #a27900;
}


html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item{
	display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}

.carousel-caption{
	top:30%;
	bottom: auto;
}

.heading{font-size: 60px; text-shadow: 2px 2px #a27900;}
.sub-heading{font-size: 30px; text-shadow: 2px 2px #a27900;}

.icon-text {
	text-align: center; margin: 20px auto;
	font-size: 30px;
}
.icon-text i{font-size: 40px; font-weight: 800;}

.card {
    text-align: center;
    border: none;
}

.card-heading {
    font-size: 25px; font-weight: 600;color: #a27900;
}

.btn-pink {
    background-color: #a27900; transition: .5s;
}
.btn-pink:hover{background-color:#a27900}
.card-img-top:hover{transform: scale(1.2); transition: 1s}

.bc {text-shadow: 2px 2px #a27900;
    background-image: url('/img5/IMG_1547.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
.bc-2 {text-shadow: 2px 2px #a27900;
    background-image: url('/img6/grant\ hill\ fila\ 96-954fwv.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
.bc-3 {text-shadow: 2px 2px #a27900;
    background-image: url('/img6/Nike-Air-More-Uptempo-Rayguns-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
.inner-text {
    padding: 30px 0;
}


.footer-image {
    display: block;
    margin: 10px auto;
}

.footer-heading {
    font-size: 20px; font-weight: bold;letter-spacing: 3px;color: #a27900;
}

.footer-list {
    list-style-type: none; padding-left: 0;
}
.footer-list > li a{color: aliceblue;text-decoration: none;}

.bg-gray {
    background-color: lightgray;
}
.bg-gold {
    background-color: #a27900;
    color: white;
}


.btn-gold {
    background-color: #a27900;
    color: white;
}
